@import "tailwindcss";


/* Custom styles that aren't easily replaced by Tailwind */
#seed-input {
  /* Hide increment/decrement arrows */
  appearance: textfield;
  -moz-appearance: textfield;
  /* Firefox */
}

/* Hide increment/decrement arrows in WebKit browsers */
#seed-input::-webkit-outer-spin-button,
#seed-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}